<div class="inner-wrap">
    <header>
        <span class="icon-sign"></span>
        <div class="tab-wrap">
            <span class="tab-item active">书城</span>
            <span class="tab-item">书架</span>
            <div class="line"></div>
        </div>
        <span class="icon-person"></span>
    </header>
    <div class="con">
        <div class="swiper-container wrap-swiper">
            <div class="swiper-wrapper">
                <!-- 书城 -->
                <div class="swiper-slide">
                    <!-- top -->
                    <div class="block">

                        <div class="search-link">
                            <div class="not-input">
                                请输入书名、关键词
                            </div>
                            <div class="switch-btn"></div>
                        </div>

                        <div class="swiper-container banner-swiper">
                            <div class="swiper-wrapper banner"></div>
                        </div>

                        <script type="text/x-handlebars-template" id="swiper-tpl">
                            {{#each this}}
                            <div class="swiper-slide">
                                <img src="{{ad_pic_url}}" alt="">
                            </div>
                            {{/each}}
                        </script>

                        <div class="classify-wrap"></div>

                        <script type="text/x-handlebars-template" id="classify-tpl">
                            {{#each this}}
                            <dl>
                                <dt>
                                    <img src="{{ad_copy}}" alt="">
                                </dt>
                                <dd>{{ad_name}}</dd>
                            </dl>
                            {{/each}}
                        </script>
                    </div>
                    <!-- top -->

                    <!-- 本周最火 -->
                    <div class="block">
                        <h2 class="title">本周最火</h2>
                        <div class="list-t-b">
                            <dl>
                                <dt>
                                    <img src="../imgs/book1.jpg" alt="">
                                </dt>
                                <dd>书名1</dd>
                            </dl>
                            <dl>
                                <dt>
                                        <img src="../imgs/book1.jpg" alt="">
                                    </dt>
                                <dd>书名2</dd>
                            </dl>
                            <dl>
                                <dt>
                                            <img src="../imgs/book1.jpg" alt="">
                                        </dt>
                                <dd>书名3</dd>
                            </dl>
                            <dl>
                                <dt>
                                        <img src="../imgs/book1.jpg" alt="">
                                    </dt>
                                <dd>书名4</dd>
                            </dl>
                            <dl>
                                <dt>
                                            <img src="../imgs/book1.jpg" alt="">
                                        </dt>
                                <dd>书名5</dd>
                            </dl>
                            <dl>
                                <dt>
                                                <img src="../imgs/book1.jpg" alt="">
                                            </dt>
                                <dd>书名6</dd>
                            </dl>
                        </div>
                    </div>
                    <!-- 本周最火 -->

                    <!-- 重磅推荐 -->
                    <div class="block">
                        <h2 class="recommend-tit">重磅推荐</h2>
                        <div class="list-l-r">
                            <dl>
                                <dt>
                                    <img src="../imgs/book1.jpg" alt="">
                                </dt>
                                <dd>
                                    <h3>标题</h3>
                                    <span class="author">作者</span>
                                    <p class="intro">说明</p>
                                    <ul class="tag-list">
                                        <li class="tag-item">都市情缘</li>
                                        <li class="tag-item">都市情缘</li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <ul class="recommend-list">
                            <li>
                                <span class="num">02</span>
                                <h3>标题</h3>
                                <span>作者</span>
                            </li>
                            <li>
                                <span class="num">02</span>
                                <h3>标题</h3>
                                <span>作者</span>
                            </li>
                            <li>
                                <span class="num">02</span>
                                <h3>标题</h3>
                                <span>作者</span>
                            </li>
                        </ul>
                    </div>
                    <!-- 重磅推荐 -->
                </div>
                <!-- 书城 -->

                <!-- 书架 -->
                <div class="swiper-slide">
                    <div class="block">
                        <div class="search-link">
                            <div class="not-input">
                                请输入书名、关键词
                            </div>
                            <div class="switch-btn"></div>
                        </div>
                    </div>                
                </div>
                <!-- 书架 -->
            </div>
        </div>
    </div>
</div>